body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.66;
  }
}

.section--another-bg {
  background-color: #f5f4fa;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  align-items: center;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo-span {
  color: #000000;
}

.menu-toggle {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 140px;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.icon-menu {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover .icon-menu,
.menu-toggle:focus .icon-menu {
  fill: #2196f3;
}

.header__navigation,
.header__container,
.header__list {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__navigation {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  position: relative;
  display: block;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:focus, .header__link:hover {
  color: #2196f3;
}

.header__link.current {
  color: #2196f3;
}

.header__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  opacity: 1;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: #2196f3;
}

/* --------------Header-contacts-------------- */
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link:focus, .contacts__link:hover {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__icon:focus, .contacts__icon:hover {
  color: #2196f3;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c4c4c4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-img/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-img/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-img/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-img/hero-desktop.jpg");
    min-height: 600px;
    padding: 200px 0px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-img/hero-desktop@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  color: #ffffff;
  background-color: #2196f3;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  border: 2px transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  text-decoration: none;
}

.benefits {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits__item {
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits__box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: #f5f4fa;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
}

.benefits__icon {
  height: 70px;
  width: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-services {
    display: block;
    padding-top: 0;
  }
}

.services {
  display: flex;
}

.services__item {
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 70px;
  width: 100%;
  background-color: #2f303a;
  opacity: 0.8;
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.services__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

/* ------Team members ---------*/
.team-card__content {
  padding-top: 30px;
  background-color: #ffffff;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team-card__content {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-card__content {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__content {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .team-card__img {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-card__img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__img {
    width: 270px;
    height: 260px;
  }
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* -------team-position-------- */
.team-card__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-network {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.social-network__icon {
  fill: currentColor;
}

.social-network__item {
  display: flex;
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  color: #afb1b8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button.current {
  color: #2196f3;
}

.filter__button:focus, .filter__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .grid__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .grid__item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .grid__item {
    width: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.project__thumb {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.project__text-overlay {
  display: flex;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__text-overlay,
.project__link:focus .project__text-overlay {
  transform: translateY(0%);
}

.card-content {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-content--another-padding {
    padding-bottom: 56px;
  }
}

.card-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.card-content__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

@media screen and (max-width: 767px) {
  .contacts-wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-wrapper {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-container {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-container {
    margin-right: 70px;
  }
}

.footer-logo link {
  display: block;
}

.footer__logo, .footer__logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo-span {
  color: #ffffff;
}

address {
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  address {
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-contacts__link.link {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts__link-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__link-contact:hover, .footer-contacts__link-contact:focus {
  color: #2196f3;
}

.footer-contacts__link,
.footer-contacts__link-contact {
  display: block;
}

@media screen and (max-width: 1199px) {
  .join-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join-footer {
    margin-left: 70px;
    justify-content: center;
  }
}

.join-footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-network {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-social-network {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-network {
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-network {
    align-items: baseline;
    display: flex;
  }
}

.footer-social-network__item + .footer-social-network__item {
  margin-left: 10px;
}

.footer-social-network__link {
  display: flex;
  height: 44px;
  width: 44px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network__link:hover, .footer-social-network__link:focus {
  background-color: #2196f3;
}

.footer-social-network__icon {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    justify-content: center;
  }
}

.subscribe__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ----------subscribe-email form---------- */
.subscribe__email {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2f303a;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

@media screen and (max-width: 1199px) {
  .subscribe__email {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .subscribe__email {
    width: 358px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 480px) and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__email {
    width: 450px;
  }
}

@media screen and (min-width: 480px) and (min-width: 1200px) {
  .subscribe__email {
    margin-right: 12px;
    width: 358px;
  }
}

@media screen and (min-width: 480px) {
  .subscribe__email:focus, .subscribe__email:hover {
    border: 1px solid #2196f3;
  }
}

/* ------------subscribe us button-------------- */
.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.86em;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 15px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  height: 50px;
  width: 200px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .subscribe__button {
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribe__button:focus, .subscribe__button:hover {
  border: 1px solid #ffffff;
}

/* -------telegram icon footer -------------*/
.subscribe__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .backdrop {
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal-window {
  position: relative;
  min-width: 250px;
  min-height: 580px;
  padding: 40px 15px;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal-window {
    min-width: 450px;
    min-height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-window__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  background-color: unset;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__button:focus .modal-icon,
.modal-window__button:hover .modal-icon {
  fill: #2196f3;
}

.modal-window__icon {
  fill: #000000;
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window:hover .modal-window__icon,
.modal-window:focus .modal-window__icon {
  fill: #2196f3;
}

/* ----MODAL FORM----- */
/* modal title */
.modal-form__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
  .modal-form__title {
    margin-bottom: 12px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .modal-form__title {
    text-align: center;
  }
}

.modal-form__field {
  margin-bottom: 5px;
}

@media screen and (min-width: 480px) {
  .modal-form__field {
    margin-bottom: 10px;
  }
}

.modal-form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__wrapper {
  margin-top: 4px;
  display: block;
  position: relative;
}

/* modal input */
.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding: 11px 12px 11px 42px;
}

.modal-form__input:focus {
  border: 1px solid #2196f3;
}

/* modal icon */
.modal-form__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: #2196f3;
}

/* comment in modal */
.textarea {
  display: block;
  margin-bottom: 20px;
}

.modal-form__comment {
  display: block;
  width: 100%;
  min-height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;
}

.modal-form__comment:focus {
  border: 1px solid #2196f3;
}

.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 480px) {
  .modal-form__comment {
    min-height: 120px;
  }
}

/*  --------- checkbox icon--------- */
.checkbox:checked + .checkbox__label > .checkbox__icon {
  background: #2196f3;
  border: 2px solid transparent;
}

.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .checkbox__label {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.checkbox__icon {
  min-width: 16px;
  min-height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

/* ----------------policy text-------------- */
.checkbox__policy-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__policy-text {
    font: size 14px;
  }
}

.checkbox__policy-agreement {
  color: #2196f3;
  text-decoration: underline;
}

/* ------------send form button------------- */
.form-btn {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid transparent;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.close-menu__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover .close-menu__icon,
.menu-toggle:focus .close-menu__icon {
  fill: #2196f3;
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-list__item:not(:last-child),
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 480px) {
  .mobile-list__item:not(:last-child),
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-list__link {
  color: #212121;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .mobile-list__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobile-list__link:hover, .mobile-list__link:focus {
  color: #2196f3;
}

.mobile-list__link--current {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .mobile-contacts__link {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: #2196f3;
}

.mobile-socials {
  display: flex;
}

.mobile-socials__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-socials__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-socials__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

.mobile-socials__link--devider::after {
  content: "";
  width: 0;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  fill: #212121;
}
/*# sourceMappingURL=main.css.map */