.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    overflow-y: scroll;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 93px;
    padding-bottom: 93px;
  }
}
.backdrop.is-hidden .modal {
  opacity: 0;

  @media screen and (min-width: $laptop) {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal-window {
  position: relative;
  min-width: 250px;
  min-height: 580px;
  padding: 40px 15px;

  opacity: 1;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: $mobile) {
    min-width: 450px;
    min-height: 609px;
    padding: 40px;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $laptop) {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal-window__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  background-color: unset;
  border-radius: 50%;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  &:focus .modal-icon,
  &:hover .modal-icon {
    fill: $accent-color;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__icon {
  fill: #000000;
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-window:hover &,
  .modal-window:focus & {
    fill: $accent-color;
  }
}

/* ----MODAL FORM----- */

/* modal title */
.modal-form__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.15em;
  letter-spacing: 0.03em;
  color: $secondary-title-color;
  display: block;
  margin-bottom: 8px;
  @media screen and (min-width: 480px) {
    margin-bottom: 12px;
    font-size: 20px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.modal-form__field {
  margin-bottom: 5px;
  @media screen and (min-width: $mobile) {
    margin-bottom: 10px;
  }
}

.modal-form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: $main-text-color;
  margin-bottom: 4px;
}

.modal-form__wrapper {
  margin-top: 4px;
  display: block;
  position: relative;
}
/* modal input */
.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  padding: 11px 12px 11px 42px;
  &:focus {
    border: 1px solid $accent-color;
  }
}
/* modal icon */
.modal-form__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus ~ .modal-form__icon {
  fill: $accent-color;
}
/* comment in modal */
.textarea {
  display: block;
  margin-bottom: 20px;
}
.modal-form__comment {
  display: block;
  width: 100%;
  min-height: 100px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;

  &:focus {
    border: 1px solid $accent-color;
  }

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (min-width: 480px) {
    min-height: 120px;
    margin-top: 4px;
  }
}

/*  --------- checkbox icon--------- */

.checkbox:checked + .checkbox__label > .checkbox__icon {
  background: $accent-color;
  border: 2px solid transparent;
}
.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
  @media screen and (min-width: $mobile) {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.checkbox__icon {
  min-width: 16px;
  min-height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $main-title-color;
}
/* ----------------policy text-------------- */
.checkbox__policy-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: $main-text-color;
  @media screen and (min-width: $laptop) {
    font: size 14px;
  }
}
.checkbox__policy-agreement {
  color: $accent-color;
  text-decoration: underline;
}

/* ------------send form button------------- */
.form-btn {
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  color: $main-title-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87em;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid transparent;
}
