.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  cursor: pointer;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  &.current {
    color: $accent-color;
  }
  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $main-title-color;
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---------------------Every button size-------------------------------- */
.all {
  min-width: 73px;
}
.web-sites {
  min-width: 128px;
}
.aplication {
  min-width: 145px;
}
.design {
  min-width: 103px;
}
.marketing {
  min-width: 130px;
}
