.card-content {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card-content--another-padding {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-bottom: 56px;
  }
}
.card-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $secondary-title-color;

  margin-bottom: 4px;
}
.card-content__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
