.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}
.contacts-wrapper {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (min-width: $laptop) {
    display: flex;
  }
}
.footer-container {
  @media screen and (min-width: $laptop) {
    display: flex;
  }
}
.contacts-container {
  @media screen and (max-width: 1199px) {
    margin-right: 60px;
  }

  @media screen and (min-width: $laptop) {
    margin-right: 70px;
  }
}
.footer-logo link {
  display: block;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #2196f3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &-span {
    @extend .footer__logo;
    color: $main-title-color;
  }
}
