.grid {
  margin-left: -30px;
  margin-top: -30px;

  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  flex-basis: calc((100% / 3 - 180));
  margin-left: $gallery-set-gap;
  margin-top: $gallery-set-gap;

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }
}
