.header__navigation,
.header__container,
.header__list {
  display: flex;
  align-items: center;
}
.header__navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header__container {
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
  }
}
.header__item {
  // font-weight: 500;
  // display: flex;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header__link {
  position: relative;

  display: block;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-title-color;
  padding: 32px 0px;

  &:focus,
  &:hover {
    color: $accent-color;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// ----------Current link------------

.header__link.current {
  color: $accent-color;
}
.header__link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  opacity: 1;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: $accent-color;
}
