.join-footer {
  @media screen and (min-width: $laptop) {
    justify-content: center;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 20px;
  }
}
.footer-social-network {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
  @media screen and (min-width: $laptop) {
    align-items: baseline;
  }
}
.footer-social-network {
  @media screen and (min-width: $laptop) {
    align-items: baseline;
    display: flex;
  }
}

.footer-social-network__item + .footer-social-network__item {
  margin-left: 10px;
}

.footer-social-network__link {
  display: flex;
  height: 44px;
  width: 44px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-social-network__icon {
  fill: #ffffff;
}
