.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__thumb {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.project__text-overlay {
  display: flex;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $main-title-color;

  padding: 63px 24px;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;

  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0%);
  }
}
