.section-services {
  display: none;
  @media screen and (min-width: $laptop) {
    display: block;
    padding-top: 0;
  }
}
.services {
  display: flex;
}
.services__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.services__container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;

  height: 70px;
  width: 100%;
  background-color: #2f303a;
  opacity: 0.8;
  box-shadow: 0px 4px 4px 0px #00000040;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.services__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;

  color: $main-title-color;
}
