.team-card__content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team {
  text-align: center;
  margin-bottom: -30px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.team__item {
  width: 100%;
  margin-bottom: $gallery-set-gap;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: $gallery-set-gap;
  }
  @media screen and (min-width: $laptop) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

/* ------Team members ---------*/

.team-card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-title-color;
}

/* -------team-position-------- */

.team-card__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
