body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
  }
}
body.modal-open {
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $mobile) {
    min-width: 320px;
  }
  @media screen and (min-width: $tablet) {
    min-width: 768px;
  }
  @media screen and (min-width: $laptop) {
    min-width: 1200px;
  }
}

.section {
  padding: 30px 0;

  @media screen and (min-width: $mobile) {
    padding: 60px 0;
  }

  @media screen and (min-width: $laptop) {
    padding: 94px 0;
  }
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-title-color;

  @media screen and (min-width: $mobile) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: $laptop) {
    margin-bottom: 50px;
  }
}
